<div class="container-dialog mat-dialog-container">
  <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" alt="" class="img-banner" />
  <mat-icon class="example-icon close-position" (click)="closeDialog()">close</mat-icon>
  <h2 *ngIf="movie['title'] !== undefined"> {{movie.title}}</h2>
  <h2 *ngIf="movie['name'] !== undefined">{{movie.name}}</h2>

  <h3>{{(movie.vote_average*10.0) | number }}% para ti. </h3>
  
  <h3 *ngIf="movie['release_date'] !== undefined">Estreno: {{movie.release_date}}</h3>
  <h3 *ngIf="movie['first_air_date'] !== undefined">Estreno: {{movie.first_air_date}}</h3>
  <p>{{movie.overview}}</p>
  <mat-icon class="example-icon" style="margin-left: 17px;" [ngClass]="{
    'small-color-inactive' : !selectShared,
    'small-color-active' : selectShared
  }" (click)="sharedClick()">cast</mat-icon>
  <mat-icon class="example-icon" [ngClass]="{
      'small-color-inactive' : !selectFavorite,
      'small-color-active' : selectFavorite
    }" (click)="favoriteClick()">check</mat-icon>
  <div class="container-p">
    <p class="p-small" [ngClass]="{
        'small-color-inactive' : !selectShared,
        'small-color-active' : selectShared
      }">Transmitir</p>
    <p class="p-small" [ngClass]="{
        'small-color-inactive' : !selectFavorite,
        'small-color-active' : selectFavorite
      }">Favoritos</p>
  </div>
</div>