<!--
<mat-card class="docs-guide-list">
    <img src="https://img.ecartelera.com/noticias/fotos/70100/70190/1.jpg" alt="" srcset="" style="width: 15%; height: 30%; margin-right: 5px; margin-left: 5px">
    <img src="https://img.ecartelera.com/noticias/fotos/70100/70190/1.jpg" alt="" srcset="" style="width: 15%; height: 30%; margin-right: 5px; margin-left: 5px">
    <img src="https://img.ecartelera.com/noticias/fotos/70100/70190/1.jpg" alt="" srcset="" style="width: 15%; height: 30%; margin-right: 5px; margin-left: 5px">
    <img src="https://img.ecartelera.com/noticias/fotos/70100/70190/1.jpg" alt="" srcset="" style="width: 15%; height: 30%; margin-right: 5px; margin-left: 5px">
    <img src="https://img.ecartelera.com/noticias/fotos/70100/70190/1.jpg" alt="" srcset="" style="width: 15%; height: 30%; margin-right: 5px; margin-left: 5px">
    <img src="https://img.ecartelera.com/noticias/fotos/70100/70190/1.jpg" alt="" srcset="" style="width: 15%; height: 30%; margin-right: 5px; margin-left: 5px">        
</mat-card>
-->
<div id="principal" (scroll)="onScroll($event)">
    <mat-grid-list [cols]="numberColumns" rowHeight="300" style="margin-right: 7px; margin-left: 15px;" >
        <ng-container *ngFor="let movie of movies; let i = index">
            <mat-grid-tile>
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                    style="height:250px; margin-bottom: 50px;" (click)="openDialog(i)">
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>