.docs-guide-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;      
    background-color: black;
}

img:hover{
    cursor: pointer;
}

.screen-size{
    
}