<mat-toolbar style="background-color: rgb(11, 11, 11);">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <img src="./assets/img/netflix.png" alt="No dispoible" style="width:150px; height:65px;"  routerLink="/">
  
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon style="color: white;">search</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon style="color: white;">linear_scale</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container ">
  <mat-drawer-content style="height: 100%; background-color: black;">
    <router-outlet></router-outlet>
  </mat-drawer-content>

  <mat-drawer mode="side" [(opened)]="opened" class="sidevar-color">
    <app-sidenav></app-sidenav>
  </mat-drawer>

  

